
      <div class="feat_prod_box_details">
       
        <div class="contact_form">
          <div class="form_subtitle"> Change password</div>
		 
		 	<% form_tag :action=> :change_password_update do %>
            
			 <div class="form_row">
			 	Old Password: <br/>
            	<%= password_field_tag 'old_password', @old_password, :class => 'contact_input' %>
            </div>
            
			 <div class="form_row">
			 	New Password: </br>
            	<%= password_field_tag 'password', {}, :class => 'contact_input' %>
            </div>
            	
			 <div class="form_row">
			 	Confirm new password: </br>
            	<%= password_field_tag 'password_confirmation', {},:class => 'contact_input' %>
        	</div>
			 <div class="form_row">
        		<%= submit_tag 'Change pass', :class=>"checkout" %>
			</div>
    
			<%end%>
      </div>
	 </div>
    <div class="clear"></div>